<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modalInstance" aria-hidden="true">&times;</button>
    <h3>{{ kpi.name }}</h3>
</div>
<div class="modal-body">
    <h3>KPI Configuration</h3>
    <form role="form">
        <div class="form-group">
            <label for="kpi-name">Name</label>
            <input type="text" ng-model="kpi.name" class="form-control" id="kpi-name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="kpi-description">Description</label>
            <textarea type="text" ng-model="kpi.description" rows="3" class="form-control" id="kpi-description" placeholder="Name"></textarea>
        </div>
        <div class="btn-group">
          <button type="button" ng-class="{active: kpi.qualitative==false}" class="btn btn-default" ng-click="kpi.qualitative=false">Quantitative</button>
          <button type="button" ng-class="{active: kpi.qualitative==true}" class="btn btn-default" ng-click="kpi.qualitative=true">Qualitative</button>
        </div>
        <div class="form-group" ng-show="!kpi.qualitative">
            <label for="kpi-unit">Unit</label>
            <input type="text" ng-model="kpi.unit" class="form-control" id="kpi-unit" placeholder="Unit">
        </div>
        <div class="form-group" ng-show="kpi.qualitative">
            <label for="kpi-unit">Number of steps</label>
            <input type="number" ng-model="kpiSteps" class="form-control" min="1" step="1" max="20" id="kpi-steps" placeholder="Steps">
        </div>
        <div ng-repeat="step in kpi.steps">
            <label>{{step.label}}</label>
            <input type="text" ng-model="step.description" class="form-control" placeholder="Description">
            <div class="input-group">
                <input ng-model="step.referenceValue" required class="form-control text-right" type="number" placeholder="Reference value">
                <div class="input-group-addon">{{step.unit}}</div>
            </div>
            <input type="text" ng-model="step.unit" class="form-control" placeholder="Reference unit">
        </div>
        <div class="checkbox" ng-show="kpi.qualitative">
            <label>
              <input type="checkbox" ng-model="multiple"> Enable multiple selection
            </label>
        </div>
        <!-- <div class="form-group" ng-show="!qualitative">
            <label for="kpi-min-value">Min value</label>
            <input type="text" ng-model="kpi.min" class="form-control" id="kpi-min-value" placeholder="Min value">
        </div>
        <div class="form-group" ng-show="!qualitative">
            <label for="kpi-max-value">Max value</label>
            <input type="text" ng-model="kpi.max" class="form-control" id="kpi-max-value" placeholder="Max value">
        </div> -->
        <div class="btn-group">
          <button id="private-kpi-button" type="button" ng-class="{active: kpi.official==false}" class="btn btn-default" ng-click="kpi.official=false">Private</button>
          <button id="public-kpi-button" type="button" ng-class="{active: kpi.official==true}" class="btn btn-default" ng-click="kpi.official=true">Public</button>
        </div>
    </form>
</div>  
<div class="modal-footer">
    <a id="cancel-kpi-button" class="btn btn-sm btn-warning" ng-click="cancel()"><i class="glyphicon glyphicon-ban-circle"></i> Cancel</a>
    <a id="save-kpi-button" class="btn btn-primary btn-sm" ng-click="ok()"><i class="glyphicon glyphicon-floppy-disk"></i> Save</a>
</div>  