<div class="container">
    <div class="row">
        <h1>Analyse problem</h1>
    </div>
    <div class="row">
        <form role="form">
          <div class="form-group">
            <label for="process-title">Please give a title to this decision process (ex: your high level ambition):</label>
            <input type="text" ng-model="currentProcess.title" class="form-control" id="process-title" placeholder="Process title">
          </div>
        </form>
    </div>
    <div class="row">
        <label>Please define the area of your project: </label>
        <district-map class="selection-map" district="currentProcess.district" layer="layer"></district-map>
        <select ng-model="layer" ng-options="l.name as l.label for l in layerOptions">
        </select>
        <p ng-show="currentProcess.district.area">Area: {{(currentProcess.district.area / 10) | number : 0}} m<sup>2</sup></p>
        <span ng-show="currentProcess.district.geometry" ng-repeat="geo in currentProcess.district.geometry[0]">
            {{geo}}
        </span>

    </div>
    <div class="row">
        <form role="form">
          <div class="form-group">
            <label for="process-description">Please add a description text of your project (optional):</label>
            <textarea class="form-control" id="process-description" rows="3">This project is aimed at…</textarea>
          </div>
        </form>
    </div>
    <div class="row">
        <form role="form">
          <div class="form-group">
            <label for="process-stakeholder">Please name the stakeholders of this project:</label>
            <input type="text" id="process-stakeholder" class="form-control" autocomplete="result" placeholder="Not implemented"/>
          </div>
        </form>
    </div>
    <div class="row">
        <form role="form">
          <div class="form-group">
            <button class="pull-right btn btn-primary" ui-sref="manage-kpis">Next</button>
          </div>
        </form>
    </div>
</div>