<div class="container">
    <div class="row">
        <h1>Process overview</h1>
    </div>
    <div class="row">
        <form ng-if="facilitator" role="form">
          <div class="form-group">
            <label for="process-title">Please give a title to this decision process (ex: your high level ambition):</label>
            <input type="text" ng-model="currentProcess.title" ng-model-options="{ updateOn: 'blur' }"
           ng-keyup="cancel($event)" ng-change="updateProcess('Changed title to ' + currentProcess.title)" class="form-control" id="process-title" placeholder="Process title">
          </div>
        </form>
        <h2 ng-if="!facilitator">{{currentProcess.title}}</h2>
    </div>
    <div class="row">
        <district-map id="district-map" district="currentProcess.district"></district-map>
    </div>
    <div class="row">
        <form ng-if="facilitator" role="form">
          <div class="form-group">
            <label for="process-description">Please add a description text of your project (optional):</label>
            <textarea class="form-control" ng-model="currentProcess.description" ng-model-options="{ updateOn: 'blur' }"
           ng-keyup="cancel($event)" ng-change="updateProcess('Changed process description')" id="process-description" rows="3">This project is aimed at…</textarea>
          </div>
        </form>
         <p>{{currentProcess.description}}</p>
    </div>
    <div class="row">
        <form ng-if="facilitator" class="form">
          <div class="form-group">
            <label for="process-stakeholder">Please name the stakeholders of this process:</label>
            <input type="text" id="process-stakeholder" ng-model="stakeholderName" class="form-control" autocomplete="result" placeholder="Stakeholder name"/>
          </div>
          <button type="submit" id="add-stakeholder-button" ng-show="stakeholderName" ng-click="addStakeholder(stakeholderName)" class="btn btn-default">Add stakeholder</button>
        </form>
    </div>
    <div class="row well" ng-if="facilitator" ng-repeat="stakeholder in stakeholders">
        <p>Name: {{stakeholder.name}}, Email: {{stakeholder.email}}, Password: {{stakeholder.rawPassword}}</p>
        <button type="submit" id="delete-stakeholder-button" ng-click="deleteStakeholder(stakeholder)" class="btn btn-danger">Delete stakeholder</button>
    </div>
    <div class="row">
        <form role="form">
          <div class="form-group">
            <button id="next-button" class="pull-right btn btn-primary" ui-sref="manage-kpis">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
          </div>
        </form>
    </div>
</div>