<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modalInstance" aria-hidden="true">&times;</button>
    <h3 class="kpi-title">{{kpi.name}}</h3>
</div>
<div class="modal-body">
    <h3>KPI configuration</h3>

    <div class="alert alert-danger" ng-show="validationError" role="alert">
      {{validationError}}
    </div>

    <div ng-show="kpi.qualitative">
        <div ng-repeat="setting in kpi.qualitativeSettings" class="panel panel-default kpi-item">
            <div class="panel-heading">
                {{setting.label}}
                <button ng-show="!setting.edit" class="btn btn-xs btn-primary pull-right" ng-click="setting.edit = true">
                  <i class="glyphicon glyphicon-pencil"></i> Edit text
                </button>
                <button ng-show="setting.edit" class="btn btn-xs btn-primary pull-right" ng-click="saveSettingText(setting)">
                  <i class="glyphicon glyphicon-check"></i> Ok
                </button>
            </div>
            <div class="panel-body" ng-show="setting.edit || setting.value">
                <textarea ng-show="setting.edit" class="form-control" rows="3" ng-model="setting.value">{{setting.value}}</textarea>
                <p ng-show="!setting.edit" ng-click="setting.edit = true">{{setting.value}}</p>
            </div>
        </div>
    </div>

    <div ng-show="!kpi.qualitative">
        <div class="well">
            <form>
                <div class="form-group clearfix">
                    <label for="kpi-score-bad" class="col-sm-7 control-label">Bad: </label>
                    <div class="col-sm-5">
                        <div class="input-group">
                            <input id="kpi-score-bad" ng-model="kpi.bad" class="form-control text-right" type="number">
                            <div ng-show="kpi.unit" class="input-group-addon">{{kpi.unit}}</div>
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="kpi-score-excellent" class="col-sm-7 control-label">Excellent: </label>
                    <div class="col-sm-5">
                        <div class="input-group">
                            <input id="kpi-score-excellent" ng-model="kpi.excellent" class="form-control text-right" type="number">
                            <div ng-show="kpi.unit" class="input-group-addon">{{kpi.unit}}</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="well">
            <h3>Select module</h3>
            <select ng-model="kpi.selectedModuleId" ng-options="module.moduleId as module.name for module in relevantModules">
                <option value="">-- select module --</option>
            </select>
        </div>
    </div>
</div>  
<div class="modal-footer">
    <a class="btn btn-sm btn-warning" ng-click="cancel()">Cancel</a>
    <a class="btn btn-sm btn-danger" ng-click="removeKpiFromProcess()">Don't use this KPI</a>
    <a id="save-kpi-config" class="btn btn-primary btn-sm" ng-click="ok()">Ok</a>
</div>  