<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h2>KPI database</h2>
            <div ng-repeat="kpi in kpiList" class="panel panel-default kpi-item" ng-click="useKpi(kpi)">
              <div class="panel-heading">
                <h3 class="panel-title">{{kpi.name}} <button class="btn btn-xs btn-danger pull-right" ng-click="deleteKpi(kpi);$event.stopPropagation()"><i class="glyphicon glyphicon-trash"></i> Delete</button></h3>
              </div>
              <div class="panel-body">
                {{kpi.description}}
              </div>
            </div>
            <button class="btn btn-primary btn-xs pull-right" ng-click="addKpi()">
                <span class="glyphicon glyphicon-floppy-disk"></span> Add KPI
            </button>
        </div>
        <div class="col-xs-6">
            <h2>KPI set for this decision process</h2>
            <div ng-repeat="kpi in currentProcess.kpiList" class="panel panel-success kpi-item" ng-click="configureKpi(kpi)">
              <div class="panel-heading">
                <h3 class="panel-title">{{kpi.name}} <span ng-hide="kpiIsConfigured(kpi)" class="glyphicon glyphicon-exclamation-sign"></span></h3>
              </div>
              <div class="panel-body">
                {{kpi.description}}
              </div>
            </div>
            <button class="btn btn-primary btn-xs pull-right" ng-show="currentProcess.kpiList.length">
                <span class="glyphicon glyphicon-floppy-disk"></span> Save this KPI set
            </button>
        </div>
    </div>
    <div class="row">
        <form role="form">
          <div class="form-group">
            <button class="btn btn-primary pull-left" ui-sref="analyse-problem"><span class="glyphicon glyphicon-chevron-left"></span> Previous</button>
            <button ng-show="currentProcess.kpiList.length > 0" class="pull-right btn btn-primary" ui-sref="define-context">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
          </div>
        </form>
    </div>
</div>