<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()" data-dismiss="modalInstance" aria-hidden="true">&times;</button>
	<h3>{{ kpi.name }}</h3>
</div>
<div class="modal-body">
	<h3>Relevant modules</h3>
	<div ng-show="relevantModules.length === 0">There are no modules registered for this KPI</div>
	<div ng-repeat="module in relevantModules">
		{{module.name}}
	</div>		
	<a ui-sref="modules">Browse module database</a>
</div>	
<div class="modal-footer">
	<a class="btn btn-sm btn-danger" ng-click="cancel()">Don't use this KPI</a>
	<a class="btn btn-primary btn-sm" ng-click="useKPI()">Use this KPI</a>
</div>	