<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()" data-dismiss="modalInstance" aria-hidden="true">&times;</button>
	<h3 class="kpi-title">{{kpi.name}}</h3>
</div>
<div class="modal-body">
	<h3>Info</h3>
	<p>Type: {{ (kpi.qualitative ? 'Qualitative': 'Quantitative') }}</p>
	<p ng-if="kpi.description">Description: {{ kpi.description}}</p>
	<p ng-if="!kpi.description">There is no description for this KPI</p>
	<h3>Relevant modules</h3>
	<div ng-show="kpi.qualitative">Qualitative KPIs does not have connected modules</div>
	<div ng-show="relevantModules.length === 0 && !kpi.qualitative">There are no modules registered for this KPI</div>
	<div ng-repeat="module in relevantModules">
		{{module.name}}
	</div>		
</div>	
<div class="modal-footer">
	<a class="btn btn-sm btn-warning" ng-click="cancel()">Cancel</a>
	<a id="{{'use-kpi-' + kpi.alias}}" class="btn btn-primary btn-sm" ng-click="useKPI()">Use this KPI</a>
</div>	