<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modalInstance" aria-hidden="true">&times;</button>
    <h3 class="kpi-title">{{kpi.name}}</h3>
</div>
<div class="modal-body">
    <h3>Qualitative KPI score</h3>
    <div class="btn-group-vertical">
        <label ng-repeat="input in kpi.qualitativeSettings" class="btn btn-primary" ng-model="kpi.value" id="{{'radio-' + input.referenceValue}}" btn-radio="{{input.referenceValue}}">{{input.label}}</label>
    </div>
</div>  
<div class="modal-footer">
    <a class="btn btn-sm btn-warning" ng-click="cancel()">Cancel</a>
    <a id="save-kpi-config" class="btn btn-primary btn-sm" ng-click="ok()">Ok</a>
</div>  