<!DOCTYPE html>
<html ng-app="idss-dashboard" ng-controller="AppCtrl">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/assets/ol3/ol.css">

    <script src="/socket.io/socket.io.js" type="text/javascript"></script>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="static/<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="static/<%= file %>"></script><% }); %>
    
  </head>
  <body>

    <div ui-view="header" id="header"></div>
    <!-- Subscribe to success flash messages. -->
    <span flash-alert="success" active-class="in alert" class="fade flash-message" duration="2000">
        <span class="alert-message">{{flash.message}}</span>
    </span>

    <!-- Subscribe to error flash messages. -->
    <span flash-alert="error" active-class="in alert" class="fade flash-message" duration="2000">
        <span class="alert-message">{{flash.message}}</span>
    </span>
    <!-- Subscribe to warn flash messages. -->
    <span flash-alert="warn" active-class="in alert" class="fade flash-message" duration="2000">
        <span class="alert-message">{{flash.message}}</span>
    </span>

    <!-- Subscribe to info flash messages. -->
    <span flash-alert="info" active-class="in alert" class="fade flash-message" duration="2000">
        <span class="alert-message">{{flash.message}}</span>
    </span>  

    <div ui-view="main" id="main"></div>    
    
  </body>
</html>
