<!DOCTYPE html>
<html ng-app="idss-dashboard" ng-controller="AppCtrl">
  <head>
    <title></title>
    <meta charset="utf-8">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="static/<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="static/<%= file %>"></script><% }); %>

  </head>
  <body>

    <div ui-view="header" id="header"></div>


    <div ui-view="main" id="main"></div>
    
    
  </body>
</html>
