option_settings:
  - option_name: NODE_ENV
    value: 'production'
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx
files:
  "/etc/nginx/conf.d/proxy.conf" :
    mode: "000755"
    owner: root
    owner: root
    content: |
      client_max_body_size 200M;

  "/etc/nginx/conf.d/websocketupgrade.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";