<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Define context</h2>
        <div class="well">
          Context are not used in this version of the IDSS
        </div>
      </div>
        <!-- <div class="col-xs-6">
        	<h2>Context variable database</h2>
            <div ng-repeat="variable in selectableContextVariables" class="panel panel-info context-item" ng-click="useVariable(variable)">
              <div class="panel-heading">
                <h3 class="panel-title">{{variable.name}}</h3>
              </div>
              <div class="panel-body">
                <div ng-show="variable.requiredBy.length">
                    Required by: 
                    <div ng-repeat="label in variable.requiredBy">{{label}}</div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-xs-6">
            <h2>Current context</h2>
            <div ng-repeat="variable in currentProcess.context.variables" class="panel panel-info context-item" ng-click="useContext(context)">
              <div class="panel-heading">
                <h3 class="panel-title">{{context.name}}</h3>
              </div>
              <div class="panel-body">
                Required by: 
                <div ng-repeat="label in context.requiredBy">{{label}}</div>
              </div>
            </div>
        </div> -->
    </div>
    <div class="row">
        <form role="form">
          <div class="form-group">
            <button class="btn btn-primary pull-left" ui-sref="manage-kpis"><span class="glyphicon glyphicon-chevron-left"></span> Previous</button>
            <button class="pull-right btn btn-primary" ui-sref="collect-data">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
          </div>
        </form>
    </div>
</div>