<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modalInstance" aria-hidden="true">&times;</button>
    <h3 class="kpi-title">KPI: {{kpi.name}}</h3>
    <p>Input required by module {{kpi.moduleName}}</p>
</div>
<div class="modal-body">
    <kpi-input inputs="module.inputSpecification" kpialias="kpi.alias" moduleid="module.moduleId" variantid="variant._id" process="currentProcess"></kpi-input>
</div>
<div class="modal-footer">
    <a class="btn btn-sm btn-warning" ng-click="cancel()">Cancel</a>
    <a id="save-kpi-config" class="btn btn-primary btn-sm" ng-click="ok()">Ok</a>
</div>  