<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modalInstance" aria-hidden="true">&times;</button>
    <h3 class="kpi-title">{{kpi.name}}</h3>
    <p>{{kpi.description}}</p>
</div>
<div class="modal-body">
    <h3>Set KPI Ambition</h3>
    <div class="alert alert-danger" ng-show="validationError" role="alert">
        {{validationError}}
    </div>
    <div class="form-group">
        <label for="weight" class="col-sm-3 control-label">Weight </label>
        <div class="col-sm-9">
            <div class="input-group">
                <input ng-model="kpi.weight" ng-change="validateWeight()" required id="weight" class="form-control text-right" type="number">
                <div class="input-group-addon">0: not important - 5: very important</div>
            </div>
        </div>
    </div>
    <div class="form-group clearfix">
      <label for="quantitative-input" class="col-sm-3 control-label">Ambition </label>
      <div class="col-sm-9">
        <div class="input-group">
            <input ng-model="kpi.value" required id="quantitative-input" class="form-control text-right" type="number">
            <div ng-show="kpi.unit" class="input-group-addon">Ambition in {{kpi.unit}}</div>
        </div>
      </div>
    </div>
    <!-- <div class="form-group clearfix">
        <label for="weight" class="col-sm-3 control-label">Minimum </label>
        <div class="col-sm-9">
            <div class="input-group">
                <input ng-model="kpi.minimum" ng-change="validateMin()" required id="minimum" class="form-control text-right" type="number">
                <div class="input-group-addon">Minimum accepted in {{kpi.unit}}</div>
            </div>
        </div>
    </div> -->
    <p class="well" ng-if="!kpi.disabled">Sufficient: {{(kpi.sufficient || kpi.sufficient == 0) ? kpi.sufficient + ' '+ kpi.unit : 'not set' }}
        <br>
        <i>{{kpi.descriptionSufficient}}</i>
    </p>
    <p class="well" ng-if="!kpi.disabled">Excellent: {{(kpi.excellent || kpi.excellent == 0) ? kpi.excellent + ' ' + kpi.unit : 'not set' }}
        <br>
        <i>{{kpi.descriptionExcellent}}</i>
    </p>

</div>  
<div class="modal-footer">
    <a class="btn btn-sm btn-warning" ng-click="cancel()">Cancel</a>
    <a id="save-kpi-config" class="btn btn-primary btn-sm" ng-click="ok()">Ok</a>
</div>  