<div class="container">

  <div class="row">
    <button class="btn btn-default pull-right" ng-show="!showAll && kpisAreDisabled()" ng-click="toggleHidden()"><span class="glyphicon glyphicon-eye-close"></span> Disabled KPIs</button>
    <button class="btn btn-default pull-right" ng-show="showAll && kpisAreDisabled()" ng-click="toggleHidden()"><span class="glyphicon glyphicon-eye-open"></span> Disabled KPIs</button>
    <button class="btn btn-primary" ui-sref="develop-variants"><span class="glyphicon glyphicon-chevron-left"></span> Develop alternatives</button>
    <h3 ng-if="currentVariant">Assess alternative: {{currentVariant.name}} 
    </h3>
  </div>

  <div ng-if="currentVariant" class="panel-group" role="tablist" aria-multiselectable="true">
    <div ng-repeat="kpi in activeCase.kpiList | orderBy:'-weight'" id="{{'set-' + kpi.kpiAlias}}" ng-show="showAll || !kpi.disabled" class="panel {{'panel-' + getStatus(kpi)}} kpi-item" ng-click="goToKpiPage(kpi)">
        <div class="panel-heading kpi-panel-heading" role="tab">
          <h4 class="panel-title">
            <b ng-bind="kpi.name"></b> <i>(status: {{kpi.status || 'unprocessed'}})</i>
            <!-- <span ng-show="kpi.loading" class="glyphicon glyphicon-refresh spin"></span> -->
          </h4>
          <kpi-value-output ng-if="!kpi.disabled" kpi="kpi"></kpi-value-output>
          <p ng-if="kpi.disabled" style="margin-top:10px" class="well">KPI <b>{{kpi.name}}</b> is not applicable for this alternative</p>
        </div>
    </div>
  </div>
  
  <div class="row" style="margin-top:10px">
    <div class="panel-group" role="tablist" aria-multiselectable="true">
      <div ng-repeat="variant in variants track by $index" id="{{variant._id}}" ng-show="variant.type!='as-is' && variant.type!='to-be' && variant._id!=currentVariant._id " class="panel panel-success kpi-item" ui-sref="assess-variants({variantId: variant._id})">
        <div class="panel-heading">
          <h3 class="panel-title panel-title-margin">Alternative: {{variant.name}}</h3>
        </div>
      </div>
      <div class="well" ng-show="variants.length < 1"> 
          <p>No alternatives exists: <a ui-sref="develop-alternatives">Go to previous step</a></p>
      </div>
    </div>
  </div>

  <div class="row">
      <form role="form">
        <div class="form-group">
          <button class="btn btn-primary pull-left" ui-sref="develop-variants"><span class="glyphicon glyphicon-chevron-left"></span> Previous</button>
          <button class="pull-right btn btn-primary" ui-sref="compare-variants">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
      </form>
  </div>
</div>
