<div class="container">
    <div class="row">
        <form role="form">
          <div class="form-group">
            <button ng-click="addVariant()" class="pull-right btn btn-success">Create new alternative <span class="glyphicon glyphicon-plus"></span></button>
          </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
          <h2>Alternatives</h2>
            <div ng-repeat="variant in variants" id="{{variant._id}}" ng-show="variant.type!='as-is' && variant.type!='to-be'" class="panel panel-success kpi-item" ui-sref="variant-input({variantId: variant._id})">
              <div class="panel-heading">
                <button class="btn btn-xs btn-danger pull-right" ng-click="deleteVariant(variant);$event.stopPropagation()">
                  <i class="glyphicon glyphicon-trash"></i> Delete alternative
                </button>
                <h3 class="panel-title">Alternative: {{variant.name}}</h3>
              </div>
              <div class="panel-body">
                {{variant.description}}
              </div>
            </div>
            <div class="well" ng-show="variants.length < 3"> 
              <button ng-click="addVariant()" class="btn btn-success">No alternatives exists: Create one <span class="glyphicon glyphicon-plus"></span></button>
            </div>
        </div>
    </div>
    <div class="row">
        <form role="form">
          <div class="form-group">
            <button class="btn btn-primary pull-left" ui-sref="to-be"><span class="glyphicon glyphicon-chevron-left"></span> Previous</button>
            <button class="pull-right btn btn-primary" ui-sref="assess-variants">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
          </div>
        </form>
    </div>
</div>