<div class="container">
    <div class="row">
        <form role="form">
          <div class="form-group">
            <button ng-show="selectedContext && selectedAlternative" ng-click="addVariant()" class="pull-right btn btn-success">Create variant <span class="glyphicon glyphicon-check"></span></button>
            <button ng-show="!selectedContext || !selectedAlternative" class="pull-right btn btn-default">New variant</button>
            
            <button ng-show="selectedContext" class="pull-right btn btn-info">{{selectedContext.name}}</button>
            <button ng-show="!selectedContext" class="pull-right btn btn-default">Select a context</button>

            <button ng-show="selectedAlternative" class="pull-right btn btn-warning">{{selectedAlternative.name}}</button>
            <button ng-show="!selectedAlternative" class="pull-right btn btn-default">Select an alternative</button>
          </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-6">
          <h2>Select module alternatives</h2>
          <div ng-repeat="module in moduleList" class="panel panel-primary module-item" ng-click="useAlternative(module)">
            <div class="panel-heading">
              <h3 class="panel-title">{{module.name}} <span ng-hide="moduleIndataIsOk(module)" class="glyphicon glyphicon-exclamation-sign"></span></h3>
            </div>
            <div class="panel-body">
              Alternatives:
              <div ng-repeat="alternative in module.alternatives">
                {{alternative.name}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
            <h2>Select context</h2>
            <div ng-repeat="variable in selectableContextVariables" class="panel panel-info context-item" ng-click="selectContext(variable)">
              <div class="panel-heading">
                <h3 class="panel-title">{{variable.name}}</h3>
              </div>
              <div class="panel-body">
                <div ng-show="variable.requiredBy.length">
                    Required by: 
                    <div ng-repeat="label in variable.requiredBy">{{label}}</div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <form role="form">
          <div class="form-group">
            <button class="pull-right btn btn-primary" ui-sref="collect-data">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
          </div>
        </form>
    </div>
</div>