<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>To be - go through KPIs to set ambitions</h2>
            <div ng-if="isFacilitator && stakeholders.length == 0" class="well">No stakeholder are added. <a ui-sref="analyse-problem">Add stakeholders</a></div>
            <form class="form" role="form" ng-if="isFacilitator">
              <div class="form-group">
                <label>Select stakeholder</label>
                <select class="form-control" ng-change="changeUser(currentUser)" ng-model="currentUser" ng-options="stakeholder as stakeholder.name for stakeholder in stakeholders">
                </select>
              </div>
            </form>
            <div ng-if="currentUser.role != 'Facilitator'" ng-repeat="kpi in currentProcess.kpiList" id="{{'used-kpi-' + kpi.kpiAlias}}" class="panel {{'panel-' + getStatus(kpi)}} kpi-item" ng-click="setWeight(kpi)">
                <div class="panel-heading kpi-panel-heading" id="{{'set-ambition-' + kpi.kpiAlias + '-button'}}">
                  <div class="kpi-weight-gauge-container pull-right" ng-click="setWeight(kpi);$event.stopPropagation()">
                    <kpi-weight class="kpi-weight-gauge" ng-if="!kpi.disabled" kpi="kpi"></kpi-weight>
                    <div>Weight</div>
                  </div>
                  <h3 class="panel-title">
                    <b ng-bind="kpi.name"></b> <span ng-hide="kpiIsConfigured(kpi)" class="glyphicon glyphicon-exclamation-sign"></span>
                    <span ng-show="kpi.loading" class="glyphicon glyphicon-refresh spin"></span>
                  </h3>
                  <button ng-if="kpi.weight > 0" id="{{'set-value-' + kpi.alias}}" class="btn btn-xs btn-primary" ng-click="setWeight(kpi);$event.stopPropagation()"><i class="glyphicon glyphicon-stats"></i> Set ambition</button>
                  <span class="label label-default">As is {{(kpi.asIsValue || kpi.asIsValue == 0) ? kpi.asIsValue : '-'}} {{kpi.unit}}</span>
                  <span class="label" ng-style="{'background-color': kpi.color}" ng-if="kpi.value && kpi.weight > 0">Ambition {{kpi.value}} {{kpi.unit}}</span>
                  <kpi-value-output ng-if="!kpi.disabled && kpi.weight > 0" kpi="kpi"></kpi-value-output>
                  <p ng-if="kpi.disabled" style="margin-top:10px" class="well">KPI <b>{{kpi.name}}</b> is not applicable for the <i>To be</i> situation</p>
                  <p ng-if="kpi.weight == 0" style="margin-top:10px" class="well">KPI <b>{{kpi.name}}</b> is set to weight 0 - not important</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="isFacilitator">
        <form role="form">
          <div class="form-group">
            <button class="btn btn-primary pull-left" ui-sref="as-is"><span class="glyphicon glyphicon-chevron-left"></span> Previous</button>
            <button class="pull-right btn btn-primary" ui-sref="develop-variants">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
          </div>
        </form>
    </div>
</div>