<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>To be - go through KPIs again to set ambitions</h2>
            <div ng-repeat="kpi in currentProcess.kpiList" class="panel panel-success kpi-item" ng-click="configureKpi(kpi)">
              <div class="panel-heading">
                <h3 class="panel-title">{{kpi.name}} <span ng-hide="kpiIsConfigured(kpi)" class="glyphicon glyphicon-exclamation-sign"></span></h3>
              </div>
              <div class="panel-body">
                {{kpi.description}}
              </div>
            </div>
        </div>
    </div>
    <div ng-show="currentProcess.kpiList.length > 0" class="row">
        <form role="form">
          <div class="form-group">
            <button class="pull-right btn btn-primary" ui-sref="to-be-overview">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
          </div>
        </form>
    </div>
</div>