<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>To be - go through KPIs again to set ambitions</h2>
            <form class="form" role="form" ng-if="isFacilitator">
              <div class="form-group">
                <label>Select user</label>
                <select class="form-control" ng-change="changeUser(currentUser)" ng-model="currentUser" ng-options="stakeholder as stakeholder.name for stakeholder in stakeholders">
                </select>
              </div>
            </form>
            <div ng-repeat="kpi in currentProcess.kpiList" id="{{'used-kpi-' + kpi.kpiAlias}}" class="panel {{'panel-' + getStatus(kpi)}} kpi-item" ng-click="setAmbition(kpi)">
                <div class="panel-heading" id="{{'set-ambition-' + kpi.kpiAlias + '-button'}}">
                  <h3 class="panel-title">
                    <b>{{kpi.name}}</b> <span ng-hide="kpiIsConfigured(kpi)" class="glyphicon glyphicon-exclamation-sign"></span>
                    <span ng-show="kpi.loading" class="glyphicon glyphicon-refresh spin"></span>
                  </h3>
                  <kpi-value-output ng-if="!kpi.disabled" kpi="kpi"></kpi-value-output>
                  <p ng-if="kpi.disabled" style="margin-top:10px" class="well">KPI <b>{{kpi.name}}</b> is not applicable for the <i>To be</i> situation</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <form role="form">
          <div class="form-group">
            <button class="btn btn-primary pull-left" ui-sref="as-is"><span class="glyphicon glyphicon-chevron-left"></span> Previous</button>
            <button class="pull-right btn btn-primary" ui-sref="develop-variants">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
          </div>
        </form>
    </div>
</div>