<div class="container" id="as-is-page">

  <div class="row">
    <h3>As is situation <button class="btn btn-xs btn-primary" ng-click="goToDesignModule();$event.stopPropagation()"><i class="glyphicon glyphicon-cog"></i> Open Design Module</button></h3>
  </div>

  <div class="panel-group" role="tablist" aria-multiselectable="true">
    <div ng-repeat="kpi in currentCase.kpiList" id="{{'set-' + kpi.kpiAlias}}" class="panel {{'panel-' + getStatus(kpi)}} kpi-item" ng-click="goToKpiPage(kpi)">
        <div class="panel-heading kpi-panel-heading" role="tab">
          <h4 class="panel-title">
            <b ng-bind="kpi.name"></b> <i ng-bind="'(status: ' + kpi.status + ')'"></i>
          </h4>
          <button ng-if="currentUser.role == 'Facilitator'" id="{{'adjust-kpi-' + kpi.alias}}" class="btn btn-xs btn-primary" ng-click="goToKpiPage(kpi);$event.stopPropagation()"><i class="glyphicon glyphicon-cog"></i> Edit</button>
          <br>
          <kpi-value-output ng-if="!kpi.disabled" kpi="kpi"></kpi-value-output>
          <p ng-if="kpi.disabled" style="margin-top:10px" class="well">KPI <b>{{kpi.name}}</b> is not applicable for the <i>As is</i> situation</p>
        </div>
    </div>
  </div>
    
  <div class="row">
        <form role="form">
          <div class="form-group">
            <button class="btn btn-primary pull-left" ui-sref="collect-data"><span class="glyphicon glyphicon-chevron-left"></span> Previous</button>
            <button class="pull-right btn btn-primary" ui-sref="to-be">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
          </div>
        </form>
    </div>
</div>