<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid box-shadow">
        <div ng-show="isAuthenticated" class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref="start" class="navbar-brand"><i class="fa fa-list-alt"></i><span class="eco-color-one">IDSS</span><span class="eco-color-two"> Dashboard</span></a>
        </div>

        <div ng-show="!isAuthenticated" class="navbar-header">
            <a ui-sref="start" class="navbar-brand"><i class="fa fa-list-alt"></i><span class="eco-color-one">IDSS</span><span class="eco-color-two"> Dashboard</span></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
            <!-- menu default -->
            <ul ng-show="isAuthenticated" class="nav navbar-nav">
                <!-- <li ng-show="currentUser.role == 'Stakeholder'"><a ui-sref="analyse-problem">Overview</a></li> -->
                <li ng-show="currentUser.role == 'Facilitator'" class="dropdown" ng-class="{'active': highLightInMenu == 'analyse-problem'}">
                    <a class="dropdown-toggle">Analyse problem <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="analyse-problem">Overview</a></li>
                        <li class="divider"></li>
                        <li ng-show="currentUser.role == 'Facilitator'"><a ui-sref="manage-kpis">Select KPIs</a></li>
                    </ul>
                </li>
                <li ng-show="currentUser.role == 'Facilitator'" class="dropdown" ng-class="{'active': highLightInMenu == 'collect-data'}">
                    <a class="dropdown-toggle">Collect data <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="define-context">Define context</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="collect-data">Module input</a></li>
                    </ul>
                </li>
                <li ng-show="currentUser.role == 'Facilitator'" ng-class="{'active': highLightInMenu == 'as-is'}"><a ui-sref="as-is">As is</a></li>
                    
                <li ng-show="currentUser.role == 'Facilitator'" ng-class="{'active': highLightInMenu == 'to-be'}"><a ui-sref="to-be">To be</a></li>
                <li ng-show="currentUser.role == 'Stakeholder'" ng-class="{'active': highLightInMenu == 'to-be'}"><a ui-sref="to-be">Set ambition</a></li>
                    
                <li ng-show="currentUser.role == 'Facilitator'" ng-class="{'active': highLightInMenu == 'develop-variants'}"><a ui-sref="develop-variants">Develop alternatives</a></li>
                <!-- <li class="dropdown">
                    <a class="dropdown-toggle">Develop alternatives <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="develop-variants">Manage alternatives</a></li>
                    </ul>
                </li> -->
                <li ng-show="currentUser.role == 'Facilitator'" ng-class="{'active': highLightInMenu == 'assess-variants'}"><a ui-sref="assess-variants">Assess alternatives</a></li>
                <!-- <li class="dropdown">
                    <a class="dropdown-toggle">Assess alternatives <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="assess-variants">Use MCMSMV module</a></li>
                    </ul>
                </li> -->
                <li ng-show="currentUser.role == 'Facilitator'" ng-class="{'active': highLightInMenu == 'compare-variants'}"><a ui-sref="compare-variants">Compare alternatives</a></li>

            </ul>

            <ul ng-show="!isAuthenticated" class="nav navbar-nav navbar-right">
                <li><a style="cursor: pointer" ui-sref="login">Log in</a></li>
            </ul>
          
            <ul ng-show="isAuthenticated" class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a id="logout-dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-user"></span> <span ng-bind="currentUser.fname"></span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!-- <li><a ui-sref="current-user"><span class="glyphicon glyphicon-user"></span> {{ currentUser.name }}</a></li> -->
                        <li><a ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                        <li><a id="switch-to-facilitator" ng-show="currentUser.role == 'Stakeholder'" ng-click="loginAsFacilitator()"><span class="glyphicon glyphicon-wrench"></span> Switch to Facilitator</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div ng-show="isAuthenticated" class="container-fluid sub-menu navbar-inverse">
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="start">Last saved: <span ng-bind="currentCase.dateModified | date:'HH:mm:ss'"></span></a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a ui-sref="start"><span ng-bind="currentCase.title || 'No title'"></span></a></li>
        </ul>
    </div>
</nav>
