<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div ng-show="isAuthenticated" class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref="start" class="navbar-brand"><i class="fa fa-list-alt"></i> IDSS Dashboard</a>
        </div>

        <div ng-show="!isAuthenticated" class="navbar-header">
            <a ui-sref="start" class="navbar-brand"><i class="fa fa-list-alt"></i> IDSS Dashboard</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
            <!-- menu default -->
            <ul ng-show="isAuthenticated" class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Analyse problem <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="analyse-problem">Overview</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="manage-kpis">Select KPIs</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Collect data <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="define-context">Define context</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="collect-data">Module input</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">As is <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a>View 1</a></li>
                        <li><a>View 2</a></li>
                        <li><a>View 3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">To be <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a>View 1</a></li>
                        <li><a>View 2</a></li>
                        <li><a>View 3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Develop alternatives <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a>Overview</a></li>
                        <li class="divider"></li>
                        <li><a>Alternative list</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Assess alternatives <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a>Overview</a></li>
                        <li><a>Export</a></li>
                    </ul>
                </li>
            </ul>

            <ul ng-show="!isAuthenticated" class="nav navbar-nav navbar-right">
                <li><a style="cursor: pointer" ng-click="login()">Log in</a></li>
            </ul>
          
            <ul ng-show="isAuthenticated" class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="current-user"><span class="glyphicon glyphicon-user"></span> {{ currentUser.name }}</a></li>
                        <li><a ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div ng-show="isAuthenticated" class="container-fluid sub-menu navbar-inverse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">{{ currentProcess.title }} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a ui-sref="export">Export to file</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

    
<!-- <h1>Start page</h1>

<div ng-if="currentUser">Welcome, {{ currentUser.name }}</div>
<div ng-if="isAuthorized(userRoles.admin)">You're admin.</div>
<div ng-switch on="currentUser.role">
  <div ng-switch-when="userRoles.admin">You're admin.</div>
  <div ng-switch-when="userRoles.editor">You're editor.</div>
  <div ng-switch-default>You're something else.</div>
</div> -->
